.navbar-brand{
    color: #fff !important;
}

.navbar-light{
    background-color: #008ae5;
}

.navbar-nav li a{
    color: #fff !important;
}

.navbar-nav li a:hover{
    color: #000 !important;
}

.navbar-toggler-icon  {
    color:#fff;
}

.texto{
    text-align: center;
}


footer{
    text-align: center;
    background-color: gray;
    
}

